<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>牛彩.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C9C691FF337529E0E2FA6FFFBB061E52345A426B</string>
				<key>dateExpires</key>
				<string>2020/5/29</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>C5T94MTPZM.com.pujing.qipai</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>C5T94MTPZM</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>牛彩.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>08128589-ac52-4580-a9e8-8a9763ce7a98</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.pujing.qipai</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C5T94MTPZM</string>
				<key>name</key>
				<string>Hangzhou Mujia Network Technology Co.,ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
